{% load static %}
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Bible Baptist Church Barani</h5>
                <p>A community of faith, serving God and our community with love.</p>
                <div class="d-flex gap-3">
                    <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'cms:who_we_are' %}" class="text-light">About Us</a></li>
                    <li><a href="{% url 'cms:articles_of_faith' %}" class="text-light">Articles of Faith</a></li>
                    <li><a href="{% url 'prayer:submit' %}" class="text-light">Prayer Requests</a></li>
                    <li><a href="{% url 'cms:salvation' %}" class="text-light">Salvation</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Contact Information</h6>
                <p><i class="fas fa-map-marker-alt"></i> Address Line Here</p>
                <p><i class="fas fa-phone"></i> Phone Number</p>
                <p><i class="fas fa-envelope"></i> Email Address</p>
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <small>&copy; {% now "Y" %} Bible Baptist Church Barani. All rights reserved.</small>
        </div>
    </div>
</footer>
