[Unit]
Description=Bible Baptist Church Barani CMS Celery Worker
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/var/www/bbcbarani
ExecStart=/var/www/bbcbarani/venv/bin/celery multi start worker1 \
    -A bbcbarani \
    --pidfile=/var/run/celery/bbcbarani-%n.pid \
    --logfile=/var/log/celery/bbcbarani-%n%I.log \
    --loglevel=INFO
ExecStop=/var/www/bbcbarani/venv/bin/celery multi stopwait worker1 \
    --pidfile=/var/run/celery/bbcbarani-%n.pid
ExecReload=/var/www/bbcbarani/venv/bin/celery multi restart worker1 \
    -A bbcbarani \
    --pidfile=/var/run/celery/bbcbarani-%n.pid \
    --logfile=/var/log/celery/bbcbarani-%n%I.log \
    --loglevel=INFO
Environment="DJANGO_SETTINGS_MODULE=bbcbarani.settings.prod"
EnvironmentFile=/var/www/bbcbarani/.env
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
