[Unit]
Description=Bible Baptist Church Barani CMS Gunicorn socket

[Socket]
ListenStream=/run/gunicorn/bbcbarani.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0600

[Install]
WantedBy=sockets.target
